@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.container {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

.main-container{
    width: 60%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

input[readonly] {
    background-color: #f9f9f9;
    cursor: not-allowed;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#disburse-status, #sms-status {
    margin-top: 10px;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
    display: none; /* Initially hidden */
}

.status-success {
    background-color: #d4edda;
    color: #155724;
    display: block;
}

.status-error {
    background-color: #f8d7da;
    color: #721c24;
    display: block;
}

.status-processing {
    background-color: #e2e3e5;
    color: #383d41;
    display: block;
}

#webhook-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#webhook-list li {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    border-left: 5px solid #007bff;
    font-size: 14px;
}